/* ==========================================================================
   Generic
   ========================================================================== */
    .goban {
        text-align: center;
    }

    .header-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        height: 60px;
        background: #1c3058;
        border-bottom: 5px solid #FF844A;
    }

    .container {
        position: relative;
        z-index: 2;
    }

    .header {
        margin-bottom: 30px;
        color: #fff;
        line-height: 60px;
    }

    .header h1 {
        margin-top: 8px;
    }

    .header img {
        margin-top: 5px;
    }

/* ==========================================================================
   New game view
   ========================================================================== */
    .btn-reset {
        border: 0;
        margin: 0;
        padding: 0;
        background: none;
    }

    .go-game {
        margin-bottom: 20px;
    }

/* ==========================================================================
   Game view
   ========================================================================== */

.goban .board {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    background: #dcb35b;
}

.goban .board .canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.goban .board::after {
    content: "";
    display: table;
    clear: both;
}

.goban .content,
.goban .cell {
    float: left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.goban .action a {
    margin-top: 5px;
    margin-left: 5px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.goban .cell.first_col {
    clear: left;
}

.goban .stone.black {
    background-image: url("/img/240px-go_b.svg.png") !important;
}

.goban .stone.white {
    background-image: url("/img/240px-go_w.svg.png") !important;
}

/* ==========================================================================
   Game info
   ========================================================================== */
.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;

    -webkit-animation: rotate 2.0s infinite linear;
    animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #333;
    border-radius: 100%;

    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0px;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}
